body {
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    color: black;
    overflow-x: hidden;
    padding: 32px;
    background-image: url("../img/pattern.png");
    letter-spacing: -.68px;
}

html {
    overflow-x: hidden;
}

.hero {
    margin: 32px 0px;
}

.hero h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0px;
}

.hero h2 {
    font-size: 52px;
    font-weight: 500;
    margin: 0px;
}

.content {
    width: 68%;
}

.content p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 32px;
    font-weight: 400;
    font-size: 12px;
    background-color: white;
}
