/* ==========================================================================
   GENERAL
   ========================================================================== */
body {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    color: #a0a6ad;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

p {
    font-size: 14px;
    color: #505050;
    line-height: 26px;
    margin-bottom: 0;
}

a:hover,
a:focus {
    color: #000;
}

a {
    color: #000;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #232323;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

a:not([href]):not([tabindex]) {
    color: #fff;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: #fff;
}

/* ==========================================================================
   Section Title
   ========================================================================== */

.section {
    background-color: white;
}

/*.form-control:focus {
    outline: none;
    box-shadow: none;
}*/

.section-header {
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
}

.section-header .section-title {
    font-size: 32pt;
    margin-bottom: 12pt;
    font-weight: 600;
    position: relative;
    line-height: 32pt;
}

.section-header .desc-text p {
    font-size: 16pt;
    color: rgba(0, 122, 255, 1);
    line-height: 16pt;
    margin-bottom: 0;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 4px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: inline-block;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
}

.btn-common {
    background-color: #3ecf8e;
    position: relative;
    z-index: 1;
    box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
    width: 160px;
    height: 50px;
    padding: 14px 15px;
}

.btn-common:hover {
    color: #fff;
    transform: translateY(0px);
}

.btn-light-bg {
    background-color: #ff704f;
}

.btn-border {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    background-color: transparent;
    border-color: #3ecf8e;
    color: #3ecf8e;
    width: 160px;
    height: 50px;
    padding: 14px 15px;
}

.btn-border:hover {
    box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
    transform: translateY(-2px);
}

.btn-border-filled {
    cursor: pointer;
    background-color: #3ecf8e;
    border: 1px solid #3ecf8e;
    color: #fff;
    box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
    width: 180px;
    height: 50px;
    padding: 15px 15px;
}

.btn-border-filled:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    transform: translateY(-2px);
}

.btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-rm {
    color: #3c9cfd;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 16px;
}

.btn-rm i {
    vertical-align: middle;
}

.btn-signin {
    background: transparent;
    border: 1pt solid rgb(10, 132, 255) !important;
    letter-spacing: .1pt;
    color: #fff;
    font-weight: 500 !important;
    text-transform: none;
    margin: 7pt 0pt;
    margin-left: 30px;
    box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-signin:hover {
    background: rgb(10, 132, 255);
    color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(96, 94, 94, 0.17);
}

.btn-light-signin:hover,
.btn-light-signin:active,
.btn-light-signin:focus {
    color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(96, 94, 94, 0.17);
}

.btn-apple {
    border-width: 2px;
    border-color: #3c96ff;
    border-style: solid;
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn-apple i {
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-apple:hover,
.btn-apple:active,
.btn-apple:focus {
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

button:focus {
    outline: none !important;
}

.btn-border-fill {
    background: #fff;
    border-color: #fff;
    color: #3c9cfd;
}

.btn-subtitle {
    color: #191c1e;
    background: #dbecff;
    text-align: center;
    border-radius: 30px;
    padding: 6px 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 14px;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 9999999;
}

.loader {
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

#loader-1:before,
#loader-1:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2pt solid transparent;
    border-top-color: rgb(90,200,250);
}

#loader-1:before {
    z-index: 100;
    animation: spin 2s infinite;
}

#loader-1:after {
    border: 7px solid rgb(7,7,7);
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* ========================================================================== 
   Scroll To Up 
   ========================================================================== */

.back-to-top {
    display: none;
    position: fixed;
    bottom: 20pt;
    right: 16pt;
    width: 132pt;
    height: 45px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background: #5533ff;
    background: linear-gradient(95deg, #131313 40%, #131313 100%);
    box-shadow: 0px 0px 10px 0px rgba(96, 94, 94, 0.30);
    z-index: 9999999;
    color: white;
    text-decoration: none !important;
}

.back-to-top i {
    font-size: 12pt;
    margin: 0pt 5pt;
}

.back-to-top:hover {
    color: rgb(90, 200, 250);
}

/* ==========================================================================
   Navbar Style
   ========================================================================== */
.fixed-top {
    padding: 13pt !important;
}

.menu-bg {
    background: rgba(0, 0, 0, 1) !important;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    padding: 13pt;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar-expand-md .navbar-nav .nav-link {
    color: #fff;
    font-size: 11pt;
    padding: 10pt 0px;
    margin-left: 22pt;
    position: relative;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}

.navbar-expand-md .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1pt;
    /*background: rgb(90, 200, 250);*/
    background-color: rgba(0, 122, 255, 1);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.navbar-expand-md .navbar-nav .active::before,
.navbar-expand-md .navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-brand h1 {
    color: #fff;
    font-size: 20pt;
    font-weight: 500;
}

.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover:before {
    /*color: rgb(90, 200, 250);*/
    color: rgba(0, 122, 255, 1);
}

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.active:before,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
    /*color: rgb(90, 200, 250);*/
    color: rgba(0, 122, 255, 1);
}

.navbar-expand-md .navbar-toggler {
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    float: right;
}

.navbar-expand-md .navbar-toggler i {
    color: #fff !important;
}

.navbar-expand-md .navbar-toggler:focus {
    outline: none;
}

/* ==========================================================================
   Hero Area
   ========================================================================== */

.clear-overlay {
    position: absolute;
    width: 100%;
    height: 200vh;
    top: 0px;
    left: 0px;
    background-color: rgba(30, 30, 30, .5);
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.hero-area {
    min-height: 100vh;
    position: relative;
}



/*.hero-area .overlay :nth-child(1) {
      width: 33.33333%;
      width: calc(100% / 2);
      top: 0;
      left: 16.66666%;
      left: calc(calc(100% / 3) / 2);
      right: auto;
      background: #5533ff;
      background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
      height: 200px; }
    .hero-area .overlay :nth-child(2) {
      width: 33.33333%;
      width: calc(100% /3);
      bottom: 0;
      background: #5533ff;
      background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
      position: absolute;
      height: 155px;
      left: 3%; }*/

.hero-area .contents {
    padding: 133.068pt 0pt 0pt 0pt;
}


.hero-area .contents h1 {
    color: rgb(250, 250, 250);
    font-size: 32pt;
    font-weight: 400;
}

.hero-area .contents h2 {
    color: white;
    font-size: 42pt;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 20px;
}

.hero-button {
    margin: 20pt 0pt;
    padding: 12pt 0pt !important;
    text-transform: none;
    width: 130pt;
    border: 1pt solid white !important;
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}


.hero-button:hover {
    color: #fff;
    border: 1px solid rgb(0, 122, 255) !important;
    background-color: rgb(0, 122, 255);
    transform: translateY(-2px);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

/* ==========================================================================
   About Section 
   ========================================================================== */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0pt;
    height: 0;
    overflow: hidden;
    margin-bottom: 0pt;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ==========================================================================
   Why Almanac 
   ========================================================================== */

#why-almanac {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../img/desktop.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

#why-almanac .container {
    position: absolute;
    top: 10%;
    align-self: center;
}

#why-almanac .image-container {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .75));
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding: 32pt 0pt 72pt 0pt;
    position: absolute;
    top: 0;
}

#why-almanac .section-title {
    font-size: 52pt;
    font-weight: 700;
    color: rgb(250, 250, 250);
    line-height: 52pt;
}

#why-almanac .desc-text p {
    font-size: 16pt;
    color: rgb(200, 200, 200);
    margin: 20pt 0pt;
}


#why-almanacInfo {
    padding: 32pt 0pt 72pt 0pt;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

#why-almanacInfo img {
    margin: 32pt 0pt;
    width: 100%;
    height: auto;
    border-radius: 12pt;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .32) !important;

}

#why-almanacInfo .business-item-info {
    margin-top: 32pt;
}

#why-almanacInfo .business-item-info h3 {
    font-size: 52pt;
    line-height: 52pt;
    font-weight: 700;
    color: #131313;
}

#why-almanacInfo .business-item-info p {
    font-size: 13pt;
    line-height: 1.8;
    color: rgb(50, 50, 50);
}


#services {
    padding: 0pt;
    background-color: transparent;
}

#services .services-item {
    margin: 20pt;
    min-height: 345pt;
    padding: 52pt 20pt;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-image: linear-gradient(#434343 0%, black 100%);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#services .services-item:hover {
    border: 1px solid rgba(0, 122, 255, 0);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .75) !important;
    transform: scale(1.1, 1.1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#services .services-item .icon {
    background: rgba(48, 209, 88, 1);
    width: 110px;
    height: 110px;
    margin: 0px auto;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-bottom: 25px;
}

#services .services-item .icon i {
    font-size: 40px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
}

#services .services-item h4 {
    font-size: 16pt;
    font-weight: 700;
    color: white;
    margin-bottom: 12pt;
}

#services .services-item p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    color: rgb(230, 230, 230);
}

/* ==========================================================================
   Features 
   ========================================================================== */

#features {
    padding: 52pt 0pt 72pt 0pt;
    background-image: linear-gradient(#171618, rgb(0, 0, 0));
}

#features .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .row h3 {
    margin: 32pt 0pt 0pt 0pt;
    font-size: 16pt;
    font-weight: 300;
    color: rgb(130, 130, 130);
}

#features .featured-bg {
    background: transparent;
}

#features .featured-border1 {
    border: 1px solid #ededed;
}

#features .featured-border2 {
    border: 1px solid #ededed;
}

#features .featured-border3 {
    border: 1px solid #ededed;
}

#features .feature-item {
    display: flex;
    background-image: linear-gradient(rgb(20, 20, 20), #131313);
    border: 2pt solid rgb(30, 30, 30);
    border-radius: 12pt;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 26pt;
    height: 172pt;
    margin: 10pt;
    overflow: hidden;
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#features .feature-item .feature-icon {
    background-color: rgba(255, 55, 95, .5);
    width: 100px;
    height: 100px;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    position: relative;
    border: 1px solid rgba(255, 55, 95, 1);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#features .feature-item .feature-icon i {
    font-size: 40px;
    color: rgba(200, 200, 200, 1);
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
}

#features .float-left {
    width: 68%;
}

#features .feature-item h4 {
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}

#features .feature-item p {
    font-size: 13pt;
    color: rgb(200, 200, 200);
}

#features .feature-item:hover {
    box-shadow: 0px 0px 25pt 10px rgba(95, 95, 95, 0.24);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#features .feature-item:hover .feature-icon {
    background: rgba(255, 55, 95, 1);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#features .feature-item:hover .feature-icon i {
    color: #fff;
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#features .section-title {
    font-size: 52pt;
    font-weight: 700;
    padding-bottom: 20pt;
}

#features .desc-text {
    width: 100%;
    margin: 20pt auto;
}

#features .desc-text p {
    font-size: 13pt;
    line-height: 20pt;
}



/* ==========================================================================
   Mobile Section 
   ========================================================================== */


#mobile {
    /*background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);*/
    /*background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);*/
    background-image: linear-gradient( 109.6deg,  rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );



    /*background-image: linear-gradient(rgb(230, 230, 230), rgb(250, 250, 250));*/
    /*background-image: url(../img/wood.png);
    background-repeat: repeat;*/
    padding: 52pt 0pt 72pt 0pt;
}

#mobile .business-item-info {
    margin-top: 0pt;
    padding: 32pt 32pt;
    background-color: rgb(255,255,255);
    height: 100%;
    border-radius: 20pt;
    box-shadow: 0rem .5rem 4rem rgba(0, 0, 0, .25) !important;
}

#mobile .business-item-info h3 {
    font-size: 52pt;
    line-height: 52pt;
    font-weight: 700;
    color: #131313;
}

#mobile .business-item-info p {
    font-size: 16px;
    margin-bottom: 20pt;
}

#iphoneContainer {
    margin: 0pt 0pt;
    display: flex;
    background-color: transparent;
    justify-content: center;
}

.iphone8 {
    box-shadow: 0rem .5rem 4rem rgba(0, 0, 0, .75) !important;
}


/* ==========================================================================
   Our Pricing 
   ========================================================================== */
#pricing {
    background-image: linear-gradient(rgb(13, 13, 13), rgb(0, 0, 0));
    background-position: center;
    padding: 52pt 0pt 72pt 0pt;
    min-height: 100vh;
}

#pricing .pricing-text h2 {
    font-size: 52pt;
    font-weight: 700;
    color: white;
    line-height: 52pt;
}

#pricing .pricing-table {
    padding: 42pt;
    border: 2pt solid rgb(23, 23, 23);
    border-radius: 10pt;
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#pricing .pricing-table h3 {
    font-size: 16pt;
    color: rgb(250, 250, 250);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7pt;
}

#pricing .pricing-table ul {
    padding-bottom: 24pt;
}

#pricing .pricing-table ul li {
    font-size: 11pt;
    font-weight: 400;
    color: rgb(150, 150, 150);
    display: block;
    line-height: 24pt;
}

#pricing .pricing-table:hover {
    border: 2pt solid rgba(0, 122, 255, 1);
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
    
#pricing .plan-button .btn {
    padding: 7pt 5pt;
    text-transform: none;
    letter-spacing: 0pt;
    color: white;
    background-color: rgba(250,250,250,.1);
    box-shadow: 0pt 0pt 0pt rgb(30,30,30);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#pricing .plan-button .btn:hover {
     background-color: rgba(0, 122, 255, 1);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}




/* ==========================================================================
   Contact section
   ========================================================================== */
#contact {
    width: 100%;
    height: 82vh;
    padding: 32pt 0pt 72pt 0pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://source.unsplash.com/cmt3JdS5MC4/4000x3000");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-transform: skewY(0deg);
    transform: skewY(-0deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -12;
}

#contact .clear-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#contact .contact-text h2 {
    font-size: 52pt;
    line-height: 52pt;
    font-weight: 700;
    color: rgb(250, 250, 250);
}

#contact .contact-text p {
    font-size: 20px;
    font-weight: 400;
    color: rgb(250, 250, 250);
    padding-bottom: 20pt;
}

#contact .sales-btn-container {
    margin-top: 32pt;
}

#contact a {
    text-decoration: none !important;
}

#contact .sales-btn {
    font-weight: 700;
    width: 200pt;
    margin: 20pt auto;
    text-transform: none;
    border-radius: 3pt;
    background: rgba(250, 250, 250, 0.1);
    /*border: 2px solid rgba(48,209,88,1);*/
    border: 1px solid rgb(200, 200, 200);
    padding: 12pt 0pt !important;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#contact .sales-btn p {
    /*color: rgb(30,30,30);*/
    padding: 0pt;
    margin: 0pt;
    font-size: 16pt;
    font-weight: 400;
    letter-spacing: .5pt;
    text-decoration: none !important;
}

#contact .sales-btn:hover {
    background-color: rgba(0, 122, 255, 1);
    border: 1px solid rgba(0, 122, 255, 1);
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-decoration: none !important;
}

#contact .sales-btn:hover p {
    color: white;
}

#contact form#contactForm .form-group {
    margin-bottom: 30px;
}

#contact form#contactForm input[type="text"],
#contact form#contactForm input[type="email"] {
    min-height: 52px;
    padding: 0px 0 0 28px;
    font-size: 16px;
    color: #5e629c;
}

#contact form#contactForm textarea {
    padding: 15px 0 0 28px;
    font-size: 16px;
    color: #5e629c;
}

#contact form#contactForm .form-control:focus {
    border: 1px solid #3ecf8e;
    outline: none;
    box-shadow: none;
    background: #e5fff3;
}

/* ==========================================================================
   Footer section
   ========================================================================== */
#footer-content {
    padding-top: 130px;
    background-image: linear-gradient(rgba(17, 17, 17, 1), rgb(0,0,0));
    background-color: rgb(17,17,17);
}

#footer-content .footer-logo {
    margin-right: 20pt;
}

/*#footer-content .footer-logo img {
    padding-top: 70px;
}*/

#footer-content a {
    text-decoration: none !important;
}

#footer-content .footer-logo h1 {
    padding-top: 0px;
    font-size: 20pt;
    color: white;
    font-weight: 700;
    padding-bottom: 0pt;
}

#footer-content .footer-logo p {
    padding-top: 10px;
    font-size: 12pt;
    color: #b3b3b3;
    font-weight: 400;
    line-height: 1.5;
}

/*#footer-content .form-control:focus {
    outline: none;
    box-shadow: none;
    background: #e5fff3;
}*/

#footer-content .copyright {
    margin-top: 125px;
    border-top: 0px solid rgb(90, 200, 250);
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer-content .copyright p {
    color: rgb(100, 100, 100);
    font-size: 11pt;
}

#footer-content .copyright a {
    color: #ddd;
}

#footer-content .widget p {
    color: #e2e2e2;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

#footer-content .widget .subscribe-area {
    position: relative;
    height: 40px;
    margin-top: 18px;
}

#footer-content .widget .subscribe-area input[type="email"] {
    background: #24153c;
    border: 1px solid #fff;
    color: #e2e2e2;
    font-size: 14px;
    font-style: italic;
    height: 38px;
}

#footer-content .widget .subscribe-area span i {
    position: absolute;
    right: 0;
    width: 60px;
    height: 38px;
    color: #fff;
    top: 0;
    background: #3ecf8e;
    display: block;
    padding: 9px 20px;
    font-size: 18px;
    border-radius: 0px 4px 4px 0px;
}

#footer-content h3.block-title {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 13px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.75);
}

#footer-content ul.menu li a {
    color: #e2e2e2;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

#footer-content ul.menu li a:hover {
    display: inline-block;
    color: rgb(90, 200, 250);
    /*padding-left: 4pt;*/
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

#footer-content ul.menu li a:hover + img {
    display: inline-block;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

#footer-content ul.menu li img {
    display: none;
}

#footer-content ul.menu li img {
    height: 24px;
    width: 24px;
}
